* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html,
body {
height: 100%;
width: 100%;
}
body{
    overflow: hidden;
}
:root{
    --margin-s : 14px;
    --margin-m : 18px;
    --margin-l : 22px;
    --margin-xl : 26px;
    --margin-2xl : 30px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin: var(--margin-2xl);
}
.infos{
    display: flex;
    gap: var(--margin-m);
    border: 2px solid gray;
    padding: 12px 23px;
    border-radius: 12px;
}
.container{
    height: 80%;
    margin:  var(--margin-xl);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
    border: 2px solid gray;
}

.box{
    height: 50px;
    width: 50px;
    border: 1px solid gray;
}
.fill{
    background-color: red;
}
